body {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    padding: 10px 0;
    color: black;
    background: rgb(240,249,255);
    background: -moz-linear-gradient(top,  rgb(240,249,255) 0%, rgb(203,235,255) 47%, rgb(161,219,255) 100%);
    background: -webkit-linear-gradient(top,  rgb(240,249,255) 0%,rgb(203,235,255) 47%,rgb(161,219,255) 100%);
    background: linear-gradient(to bottom,  rgb(240,249,255) 0%,rgb(203,235,255) 47%,rgb(161,219,255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );

}

.Mapgoogle {
    width: 96%;
    height: 300px;
    margin: auto;
}

.Main {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.SideBar {
    min-width: 15%;
    font-size: 26px;
    display: flex;
    flex-direction: column;
}
.SideBar a {
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
}
a:hover {
    border: 2px solid darkgray;
    cursor: pointer;
}

.MainBox {
    padding-left: 10px;
    padding-top: 1%;
    text-align: center;
    
}
.Buttons {
    margin-left: -25%;
}
.Buttons button {
    padding: 1em;
    background-color: gainsboro;
    margin: 0 10px;
    border-radius: 10%;
}
.Buttons button:hover {
    cursor: pointer;
}

.MainView {
    display: block;
    /*to respons*/
    width: 1024px;
}
.MainView img {
    max-width: 30%;
    margin: 10px;
    float: left;
}
.MainView p {
    float: none;
    width: 70%;
    font-size: 26px;
}
.JsView {
    display: block;
    float: left;
    text-align: left;
    margin: 10px 0px;
    height: 220px;
    width: 33%;
}
#form {
    display: none;
    font-size: 24px;
    justify-content: space-around;
}
#SideBarView {
    float: left;
}

/*Responsive*/

@media (max-width: 1024px) {
    .Mapgoogle {
        height: 200px;
    }
    .SideBar {
        max-width: 160px;
        font-size: 14px;
        padding: 0px;
        
    }
    .MainBox {
        max-width: 580px;
    }
    .SideBar a {
        padding-left: 5px;
        padding-top: 5px;
        display: contents;
    }
    .Buttons {
        margin: 3px auto;
    }
    .MainView {
        width: 580px;
        font-size: 11px;
        min-height: 350px;
    }
    .MainView p {
        width: 90%;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .Mapgoogle {
        height: 250px;
    }
    .SideBar {
        max-width: 140px;
        font-size: 14px;
        padding: 0px; 
    }
    .MainBox {
        max-width: 430px;
    }
    .MainView {
        width: 100%;
        font-size: 10px;
        min-height: 580px;
    }
    
}
@media (max-width: 736px) {
    .Mapgoogle {
        height: 174px;
    }
}
@media (max-width: 412px) {
    .SideBar {
        display: none;
    }
    .MainBox {
        padding: 2px;
        max-width: 412px;
    }
    .MainView {
        min-height: 380px;
    }
    .JsView {
        height: 100px;
    }
}